.title{
    font-weight: bold;
    line-height: 2;
}

.description {
    line-height: 1.5;
    padding-bottom: 5px;
}

.details {
    padding: 10px;
}

button {
    margin: 10px;
    padding: 5px;
}

.component-list-three {
    margin: auto;
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.component-page{
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.component-list {
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.component-selection {
    cursor: pointer;
    width: 200px;
    padding: 5px;
    border: 0.5px solid silver;
    margin: 0px auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5em;
}

.component {
    cursor: pointer;
    width: 97%;
    max-width: 200px;
    padding: 5px;
    border: 0.5px solid silver;
    margin: 0px auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5;
    background-color: lightblue;
    border-radius: 15px;
}

.component-wide {
    cursor: pointer;
    width: 97%;
    padding: 5px;
    border: 0.5px solid silver;
    margin: 0px auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5;
    background-color: lightblue;
    border-radius: 15px;
}

.component-selection:hover {
    border: 1px solid black;
}

@media only screen and (max-width: 400px) {

    .component-list, .component-list-three {
        grid-template-columns: 1fr;
    }
    .component {
        max-width: unset;
    }
}